<template>
    <div>
        <el-dialog width="80%" :visible="visible" @close="onClose" @open="onCreate"  :close-on-click-modal="false">
            <div class="row mt-4">
                <div class="col-md-12">
                    <div id="tabs" >
                        <ul class="nav nav-tabs">
                            <li class="nav-item active">
                                <a class="nav-link active" href="#boleto" data-toggle="tab"><i class="fas fa-star"></i> Boleto</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#manifiesto" data-toggle="tab">Manifiesto de pasajeros</a>
                            </li>
                        </ul>

                        <div class="tab-content">
                            <div id="boleto" class="tab-pane active">
                                <div class="row mt-2">
                                    <div v-if="!isReserva" class="col-5">
                                        <div class="form-group">
                                            <label for="">Tipo de comprobante</label>
                                            <el-select
                                                v-model="document.document_type_id"
                                                @change="changeDocumentType"
                                                popper-class="el-select-document_type"
                                                dusk="document_type_id"
                                                class="border-left rounded-left border-info"
                                                :disabled="transportePasaje ? true : false"
                                            >
                                                <el-option
                                                    v-for="option in documentTypesInvoice"
                                                    :key="option.id"
                                                    :value="option.id"
                                                    :label="option.description"
                                                ></el-option>
                                                <el-option key="nv" value="nv" label="NOTA DE VENTA"></el-option>
                                            </el-select>
                                        </div>
                                    </div>
                                    <div v-if="!isReserva" class="col-3">
                                        <div class="form-group">
                                            <label for="">Serie</label>
                                            <!-- <el-input v-model="document.serie" disabled></el-input> -->
                                            <el-select v-model="document.series_id" :disabled="transportePasaje ? true : false">
                                                <el-option
                                                    v-for="option in series"
                                                    :key="option.id"
                                                    :value="option.id"
                                                    :label="option.number"
                                                ></el-option>
                                            </el-select>
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="form-group">
                                            <label for="dni">Estado de asiento</label>
                                            <el-select v-model="estadoAsiento"  popper-class="el-select-customers"
                                                    placeholder="Estado asiento"
                                                    :disabled=" (transportePasaje) ? true : false"
                                            >
                                                <el-option v-for="estado in tempEstadosAsientos" :key="estado.id" :value="estado.id" :label="estado.nombre">

                                                </el-option>
                                            </el-select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row pt-2">
                                    <div class="col-3">
                                        <div class="form-group">
                                            <label for="dni">Precio</label>
                                            <el-input ref="precioBoleto" v-model="precio" type="number" id="precio-boleto"></el-input>
                                        </div>

                                    </div>

                                    <div v-if="!isReserva" class="col-5">
                                        <div class="form-group">
                                            <label for="dni">
                                                Cliente
                                                <a href="#" @click.prevent="modalPerson(false)">[+ Nuevo]</a>
                                            </label>
                                            <el-select v-model="clienteId" filterable remote  popper-class="el-select-customers" id="cliente"
                                                    dusk="clienteId"
                                                    placeholder="Buscar cliente"
                                                    :remote-method="searchCliente"
                                                    :loading="loadingCliente"
                                                    :disabled=" (transportePasaje) ? true : false"
                                            >
                                                <el-option v-for="cliente in tempClientes" :key="cliente.id" :value="cliente.id" :label="cliente.name">

                                                </el-option>
                                            </el-select>
                                        </div>
                                    </div>
                                    <div v-else class="col-5">
                                        <div class="form-group">
                                            <label for="dni">
                                                Cliente

                                            </label>
                                            <el-input ref="nombrePasajero" v-model="nombrePasajero" type="text" placeholder="Nombre del cliente" ></el-input>

                                        </div>
                                    </div>

                                    <div class="col-3">
                                        <div class="form-group">
                                            <label for="dni">Asiento</label>
                                            <el-input :disabled="tipoVenta == 2 ? true : false" v-model="numeroAsiento" type="number" min="1"  id="numero-asiento"></el-input>
                                        </div>
                                    </div>
                                </div>
                                <div class="row pt-2" v-if="document.document_type_id === '01'">

                                    <div class="col-5">
                                        <div class="form-group">
                                            <label for="dni">
                                                Pasajero
                                                <a href="#" @click.prevent="modalPerson(true)">[+ Nuevo]</a>
                                            </label>
                                            <el-select v-model="pasajeroId" filterable remote  popper-class="el-select-customers"
                                                    dusk="pasajeroId"
                                                    placeholder="Buscar pasajero"
                                                    :remote-method="searchPasajero"
                                                    :loading="loadingPasajero"
                                                    :disabled=" (transportePasaje) ? true : false"
                                            >
                                                <el-option v-for="persona in tempPasajeros" :key="persona.id" :value="persona.id" :label="persona.name">

                                                </el-option>
                                            </el-select>
                                        </div>
                                    </div>

                                </div>
                                <div v-if="transportePasaje" class="row justify-content-center">

                                    <el-button type="primary" @click="viewComprobante" :style="{marginTop:'1.90rem'}">
                                        Comprobante
                                        <i class="fa fa-file-alt"></i>
                                    </el-button>
                                    <el-button type="danger" @click="anularBoleto" :style="{marginTop:'1.90rem'}">
                                        Anular
                                        <i class="fa fa-trash"></i>
                                    </el-button>

                                </div>

                                <div v-if="!transportePasaje && !isReserva" class="row mt-2">
                                    <div class="col-md-12">
                                        <el-collapse v-model="activePanel" accordion>
                                            <el-collapse-item name="1" >
                                                <template slot="title">
                                                    <i class="fa fa-plus text-info"></i> &nbsp;Pagos<i class="header-icon el-icon-information"></i>
                                                </template>
                                                <div  class="row mt-2">
                                                    <div class="col-12">
                                                        <div class="row mt-2">
                                                            <div class="col-12">
                                                                <table class="table table-bordered table-stripped">
                                                                    <thead>
                                                                    <th>M. Pago</th>
                                                                    <th>Destino</th>
                                                                    <th>Referencia</th>
                                                                    <!-- <th>Monto</th> -->
                                                                    </thead>
                                                                    <tbody>

                                                                    <tr>
                                                                        <td>
                                                                            <div class="form-group mb-2 mr-2">
                                                                                <el-select v-model="payment.payment_method_type_id">
                                                                                    <el-option
                                                                                        v-for="option in paymentMethodTypes"
                                                                                        :key="option.id"
                                                                                        :value="option.id"
                                                                                        :label="option.description"
                                                                                    ></el-option>
                                                                                </el-select>
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="form-group mb-2 mr-2">
                                                                                <el-select
                                                                                    v-model="payment.payment_destination_id"
                                                                                    filterable
                                                                                    :disabled="payment.payment_destination_disabled"
                                                                                >
                                                                                    <el-option
                                                                                        v-for="option in paymentDestinations"
                                                                                        :key="option.id"
                                                                                        :value="option.id"
                                                                                        :label="option.description"
                                                                                    ></el-option>
                                                                                </el-select>
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="form-group mb-2 mr-2">
                                                                                <el-input v-model="payment.reference"></el-input>
                                                                            </div>
                                                                        </td>
                                                                        <!-- <td>
                                                                            <div class="form-group mb-2 mr-2">
                                                                                <el-input disabled v-model="payment.payment"></el-input>
                                                                            </div>
                                                                        </td> -->
                                                                    </tr>

                                                                    </tbody>

                                                                </table>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </el-collapse-item>
                                        </el-collapse>
                                    </div>
                                </div>
                            </div>
                            <div id="manifiesto" class="tab-pane">
                                <div>Vista de manifiestos</div>
                                <a href="/transportes/manifiestos" target="_blank">Abrir en otra ventana</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row mt-4">
            <div class="col-12 d-flex justify-content-center">
                    <el-button v-if="transportePasaje && destino" :loading="loading" type="primary" @click="actualizarPasaje">Guardar</el-button>
                    <el-button v-else :loading="loading" type="primary" @click="saveDocument">Guardar</el-button>
                </div>
            </div>
        </el-dialog>
        

        <sale-note-options
            :showDialog.sync="showDialogSaleNoteOptions"
            :recordId="documentId"
            :configuration="configuration"
            :showClose="true"
        >
        </sale-note-options>

        <document-options
        :showDialog.sync="showDialogDocumentOptions"
        :recordId="documentId"
        :isContingency="false"
        :showClose="true"
        :configuration="configuration"
        ></document-options>



        <person-form :showDialog.sync="showDialogNewPerson"
        type="customers"
        :external="true"
        :buscar_destinatario="buscar_destinatario"
        :buscar_pasajero="buscar_pasajero"
        :input_person="input_person"
        :document_type_id="document.document_type_id"></person-form>

        

    </div>

</template>
<script>
import { exchangeRate } from '../../../../../../../resources/js/mixins/functions';
import DocumentOptions from "@views/documents/partials/options.vue";
import SaleNoteOptions from "@views/sale_notes/partials/options.vue";
import PersonForm from "@views/persons/form2.vue";

export default {
    mixins: [exchangeRate],
    components:{
        DocumentOptions,
        PersonForm,
        SaleNoteOptions
    },
    props:{
        visible:{
            type:Boolean,
            default:false
        },
        document_type_03_filter:{
            type:Boolean,
            required:true,
        },
        asiento:{
            type:Object|null,
            default:null,
        },
        programacion: {
            type: Object | null,
            required: true,
            default: {},
        },
        estadosAsientos:{
            type:Array,
            required:true,
            default:() => []
        },
        fechaSalida: {
            type: String | null,
            required: true,
            default: '',
        },
        establishment:{
            type:Object,
            required:true
        },
        allSeries:{
            type:Array,
            default:() => []
        },
        documentTypesInvoice:{
            type:Array,
            default:() => []
        },
        paymentMethodTypes: {
            type: Array,
            required: true,
        },
        paymentDestinations: {
            type: Array,
            required: true,
        },
        configuration:{
            type: Object,
            required: true,
        },
        configuration:{
            type: Object,
            required: true,
        },
        transportePasaje:{
            type:Object|null,
            default:() => null
        },
        tipoVenta:{
            type:Number,
            default:null
        },
        isCashOpen:{
            type:Boolean,
            required:true,
            default:false,
        },
        horaSalida:{
            type:String|null,
            required:true,
            default:null,
        },
        origen:{
            type:Object|null,
            required:true,
            default:null
        },
        destino:{
            type:Object|null,
            required:true,
            default:null


        }
    },
    created(){
        this.initDocument();
        this.initForm();
        this.all_document_types = this.documentTypesInvoice;
        this.series  = this.allSeries;
        this.document.establishment_id = this.establishment.id;
        this.changeDocumentType();
        //this.document.document_type_id = '03';
        // this.onCreate();
        this.$eventHub.$on('reloadDataPersons', (clienteId) => {
                this.reloadDataCustomers(clienteId)
            })

        this.$eventHub.$on('reloadDataPasajeros', (pasajeroId) => {
                this.reloadDataPasajeros(pasajeroId)
        })

    },
    watch:{
        precio:function(newVal){
            if(this.document.payments.length > 0){
                this.document.payments[0].payment = newVal ? newVal : 0;
            }
        },
        asiento(value){
            this.numeroAsiento = value ? value.numero_asiento : null;
        },
        transportePasaje(value){

            if(!value){
                this.estadoAsiento = 2;
                this.pasajeroId = null;
                this.precio = null;
                this.clienteId =null;
            }

        },
        tipoVenta(newVal){
            if(newVal == 1) {

                this.estadoAsiento = 2;
                this.tempEstadosAsientos = this.estadosAsientos.filter(  estado => estado.id != 3 )
            }
            else this.tempEstadosAsientos = this.estadosAsientos;
        }
    },
    computed:{
        nameItem(){
            if(this.tipoVenta == 2) return `${this.programacion.origen.nombre}-${this.programacion.destino.nombre}`
            else if(this.tipoVenta == 1) return `${this.origen.nombre}-${this.destino.nombre}`;
        },
        isReserva(){
            return this.estadoAsiento == 3;
        }
    },
    data(){
        return ({
            nombrePasajero:null,
            tabs:'venta',
            resource_documents: "documents",
            input_person:{},
            showDialogNewPerson:false,
            clientes:[],
            pasajeros:[],
            pasajero:null,
            loadingPasajero:false,
            loadingCliente:false,

            estadoAsiento:null,
            clienteId:null,
            pasajeroId:null,
            precio:null,
            numeroAsiento:null,
            buscar_destinatario:false,
            buscar_pasajero:false,
            loading:false,
            tempEstadosAsientos:this.estadosAsientos,
            //document
            documentId:null,
            sale_note_id:null,
            document: {
                payments: [],
            },
            producto:{},
            all_document_types: [],
            document_types: [],
            series:[],
            showDialogDocumentOptions:false,
            showDialogSaleNoteOptions: false,
            payment:{
                payment_method_type_id:null,
                payment_destination_id:null,
                reference:null,
                payment:null
            },
            is_contingency: 0,
            activePanel: 0,
            activeNames:[1],
            tempPasajeros:[],
            tempClientes:[],
            is_document_type_invoice: true

        });
    },
    methods:{
        modalNote(){
            this.$eventHub.$emit('reloadDataNotes')
            this.showDialogSaleNoteOptions= true
        },
        modalPerson(buscar_pasajero){
            this.showDialogNewPerson=true;
            this.buscar_pasajero = buscar_pasajero

        },
        reloadDataCustomers(cliente_Id) {
            this.$http
                .get(`/documents/search/customer/${cliente_Id}`)
                .then((response) => {
                    this.tempClientes = this.clientes  = response.data.customers;
                    this.clienteId = cliente_Id;
                });
        },
        reloadDataPasajeros(pasajero_id) {
            this.$http
                .get(`/documents/search/customer/${pasajero_id}`)
                .then((response) => {
                    this.tempPasajeros = this.pasajeros  = response.data.customers;
                    this.pasajeroId = pasajero_id;
                });
        },
        async searchCliente(input=''){
            this.loadingCliente = true;
            const { data } = await this.$http.get(`/transportes/encomiendas/get-clientes?search=${input}`);
            this.loadingCliente = false;
            this.tempClientes = this.clientes  = data.clientes;
        },
        async searchPasajero(input=''){
            this.loadingPasajero = true;
            const { data } = await this.$http.get(`/transportes/encomiendas/get-clientes?search=${input}`);
            this.loadingPasajero = false;
            this.tempPasajeros = this.pasajeros  = data.clientes;
            this.personas =  _.filter(data.clientes, (c) => { return c.identity_document_type_id !== '6' });

        },


        async onCreate(){
            this.estadoAsiento = 2;

            
            
            // this.transportePasaje = this.asiento.transporte_pasaje || null;

            this.initProducto();
            //this.initDocument();
            this.clickAddPayment();
            this.onCalculateTotals();
            //this.validateIdentityDocumentType();
            const date = moment().format("YYYY-MM-DD");
            await this.searchExchangeRateByDate(date).then((res) => {
                this.document.exchange_rate_sale = res;
            });

            if(this.transportePasaje){
                this.pasajero = this.transportePasaje.pasajero;
                this.precio = this.transportePasaje.precio;
                this.pasajeroId = this.pasajero.id;
                this.clienteId = this.transportePasaje.cliente_id;
                this.estadoAsiento = this.transportePasaje.estado_asiento_id;
                this.documentId = this.transportePasaje.document_id;
                this.sale_note_id=this.transportePasaje.note_id;
                this.numeroAsiento = this.transportePasaje.numero_asiento;
            }

            this.document.document_type_id = (this.documentTypesInvoice.length > 0)?this.documentTypesInvoice[0].id:null;



            let element = this.$refs.precioBoleto;

            this.$nextTick(() => element && element.focus());
            await this.searchCliente();
            await this.searchPasajero();
            this.changeDocumentType();
            this.document.document_type_id = '03';
            this.filterSeries();
            this.filterCustomers();
        },

        async saveDocument(){

           let validator = this.validate();

            if(validator.fails){
               return this.$message.info(validator.first);
            }




            let precio = parseFloat(this.precio);
            if(!precio) {
                this.$message.info('Por favor indique el precio de el asiento');
                return;
            }

            this.loading = true;

            if(this.isReserva) return this.guardarPasaje()

            this.document.items.length=0;

            this.producto.input_unit_price_value=precio;
            this.producto.item.description = 'Pasaje -'+this.nameItem;
            this.producto.item.name = 'Pasaje -'+this.nameItem;
            this.producto.item.sale_unit_price = precio;
            this.producto.item.unit_price=precio;
            this.producto.total=precio;
            this.producto.total_base_igv=precio;
            this.producto.total_value=precio;
            this.producto.unit_price=precio;
            this.producto.unit_value=precio;



            const id = await this.createItem(this.producto.item);
            if(!id) return this.$message.error('Lo sentimos ha ocurrido un error');
            this.producto.item_id = this.producto.item.id = id;

            this.document.items.push(this.producto);
            this.payment.payment= precio;
            this.document.payments.push(this.payment);

            this.document.customer_id=this.clienteId;
            this.onCalculateTotals();

            let validate_payment_destination = this.validatePaymentDestination();
            if (validate_payment_destination.error_by_item > 0) {
                return this.$message.error("El destino del pago es obligatorio");
            }
            if (this.document.document_type_id === "nv") {
                this.document.prefix = "NV";
                this.resource_documents = "sale-notes";
            } else {
                this.document.prefix = null;
                this.resource_documents = "documents";
            }


            await this.$http
                .post(`/${this.resource_documents}`, this.document)
                .then(async (response) => {
                    if (response.data.success) {
                        this.documentId = response.data.data.id;

                        if (this.document.document_type_id === "nv"){
                            this.form_cash_document.sale_note_id = response.data.data.id;
                            this.sale_note_id = response.data.data.id;
                        }
                        else{
                            this.form_cash_document.document_id = response.data.data.id;
                        }

                        await this.saveCashDocument();
                        await this.guardarPasaje();
                    } else {
                        this.$message.error(response.data.message);
                    }
                })
                .catch((error) => {
                    if (error.response) {
                        this.$message.error(error.response.data.message);
                    }

                }).then(() => {
                    this.loading_submit = false;
                });

        },
        async guardarPasaje(){
            let doc = null;
            let note = null;
            let client = null;
            if(!this.isReserva){
                doc = (this.document.document_type_id==='nv')? null: this.documentId;
                note = (this.document.document_type_id==='nv') ? this.sale_note_id : null
                client = (this.document.document_type_id==='03' || this.document.document_type_id==='nv') ? this.clienteId : this.pasajeroId;

            }

            let data = {
                document_id: doc,
                note_id: note,
                cliente_id:this.clienteId,
                nombre_pasajero: this.nombrePasajero,
                pasajero_id: client,
                asiento_id:this.tipoVenta == 2 ? this.asiento.id : null,
                numero_asiento:this.numeroAsiento,
                estado_asiento_id:this.estadoAsiento,
                programacion_id: this.tipoVenta == 2 ? this.programacion.id : null,
                fecha_salida:this.fechaSalida,
                precio:this.precio,
                tipo_venta:this.tipoVenta, //venta asiento libre
                destino_id:this.destino.id,
                hora_salida: this.tipoVenta == 2 ?  this.programacion.hora_salida : this.horaSalida
            };

            this.$http.post('/transportes/sales/realizar-venta-boleto',data)
            .then( ({data}) => {
                this.loading = false;

                if (this.document.document_type_id === "nv") {
                    this.modalNote();
                } else {
                    if(!this.isReserva) this.$emit('onSuccessVenta',this.documentId);
                }


                this.estadoAsiento = 2;

                //this.precio = null;
                this.clienteId=null;
                this.pasajeroId = null;
                this.numeroAsiento = null;
                this.form_cash_document.document_id=null;
                this.form_cash_document.sale_note_id=null;
                this.document.document_type_id = '03';
                this.document.cliente_id =
                this.nombrePasajero = null;
                this.filterSeries();
                this.filterCustomers();
                this.initProducto();
                this.document.payments= [];

                this.$emit('onUpdateItem');
                this.$message({
                    type: 'success',
                    message: data.message
                });

                this.$emit('update:visible',false);


            }).catch( error => {
                alert(error);
                this.axiosError(error);
            }).finally(() => {
                this.loading = false;
            });
        },
        async actualizarPasaje(){
            let data = {
                asiento_id:this.tipoVenta == 2 ? this.asiento.id : null,
                numero_asiento:this.numeroAsiento,
                programacion_id:this.tipoVenta == 2 ? this.programacion.id : null,
                fecha_salida:this.fechaSalida,
                origen_id:this.origen.id,
                destino_id:this.destino.id,
                precio:this.precio,
                hora_salida:this.horaSalida
            };
            this.loading = true;

            this.$http.put(`/transportes/sales/${this.transportePasaje.id}/actualizar-boleto`,data)
            .then( ({data}) => {
                this.loading = false;
                this.$emit('onUpdateItem');
                this.$message({
                    type: 'success',
                    message: data.message
                });
            }).catch( error => {
                this.axiosError(error);
            }).finally(() => {
                this.loading = false;
            });
        },
        //document and payment
        initProducto(){
            this.producto = {
                IdLoteSelected: null,
                affectation_igv_type: {
                    active: 1,
                    description: "Exonerado - Operación Onerosa",
                    exportation: 0,
                    free: 0,
                    id: "20"
                },
                affectation_igv_type_id: "20",
                attributes: [],
                charges: [],
                currency_type_id: "PEN",
                discounts: [],
                document_item_id: null,
                input_unit_price_value: "100",//cambiado
                item: {
                    id:null,
                    name:null,
                    second_name:null,
                    amount_plastic_bag_taxes: "0.10",
                    attributes: [],
                    barcode: "",
                    brand: "",
                    calculate_quantity: false,
                    category: "",
                    currency_type_id: "PEN",
                    currency_type_symbol: "S/",
                    description:null,
                    full_description: "",
                    has_igv: false,
                    has_plastic_bag_taxes: false,
                    item_type_id:'02',
                    internal_id: null,
                    item_unit_types: [],
                    lots: [],
                    lots_enabled: false,
                    lots_group: [],
                    presentation: [],
                    purchase_affectation_igv_type_id: "20",
                    purchase_unit_price: "0.000000",
                    sale_affectation_igv_type_id: "20",
                    sale_unit_price: 0,
                    series_enabled: false,
                    stock: 1,
                    stock_min:1,
                    unit_price: 0, //cambiado
                    unit_type_id: "ZZ",
                    is_set: false,
                    series_enabled: false,
                    purchase_has_igv: true,
                    web_platform_id:null,
                    has_plastic_bag_taxes: false,
                    item_warehouse_prices: [],
                },
                item_id: null,
                percentage_igv: 18,
                percentage_isc: 0,
                percentage_other_taxes: 0,
                price_type_id: "01",
                quantity: 1,
                system_isc_type_id: null,
                total: 100,//cambiado
                total_base_igv: 100,//cambiado
                total_base_isc: 0,
                total_base_other_taxes: 0,
                total_charge: 0,
                total_discount: 0,
                total_igv: 0,
                total_isc: 0,
                total_other_taxes: 0,
                total_plastic_bag_taxes: 0,
                total_taxes: 0,
                total_value: 100,//cambiado
                unit_price: 100,//cambiado
                unit_value: 100,//cambiado
                warehouse_id: null
            };
        },
        initDocument() {
            this.document = {
                establishment_id:null,
                customer_id: null,
                customer: {},
                document_type_id: null,
                series_id: null,
                number: "#",
                date_of_issue: moment().format("YYYY-MM-DD"),
                time_of_issue: moment().format("HH:mm:ss"),
                currency_type_id: "PEN",
                purchase_order: null,
                exchange_rate_sale: 0,
                total_prepayment: 0,
                total_charge: 0,
                total_discount: 0,
                total_exportation: 0,
                total_free: 0,
                total_taxed: 0,
                total_unaffected: 0,
                total_exonerated: 0,
                total_igv: 0,
                total_base_isc: 0,
                total_isc: 0,
                total_base_other_taxes: 0,
                total_other_taxes: 0,
                total_taxes: 0,
                total_value: 0,
                total: 0,
                operation_type_id: "0101",
                date_of_due: moment().format("YYYY-MM-DD"),
                delivery_date: moment().format("YYYY-MM-DD"),
                items: [],
                charges: [],
                discounts: [],
                attributes: [],
                guides: [],
                additional_information: null,
                actions: {
                    format_pdf: "a4",
                },
                dispatch_id: null,
                dispatch: null,
                is_receivable: false,
                payments: [],
                hotel: {},
            };
        },
        onCalculateTotals() {
            let total_discount = 0
            let total_charge = 0
            let total_exportation = 0
            let total_taxed = 0
            let total_exonerated = 0
            let total_unaffected = 0
            let total_free = 0
            let total_igv = 0
            let total_value = 0
            let total = 0
            let total_plastic_bag_taxes = 0
            this.document.items.forEach((row) => {
                total_discount += parseFloat(row.total_discount)
                total_charge += parseFloat(row.total_charge)

                if (row.affectation_igv_type_id === '10') {
                    total_taxed += parseFloat(row.total_value)
                }
                if (row.affectation_igv_type_id === '20') {
                    total_exonerated += parseFloat(row.total_value)
                }
                if (row.affectation_igv_type_id === '30') {
                    total_unaffected += parseFloat(row.total_value)
                }
                if (row.affectation_igv_type_id === '40') {
                    total_exportation += parseFloat(row.total_value)
                }
                if (['10', '20', '30', '40'].indexOf(row.affectation_igv_type_id) < 0) {
                    total_free += parseFloat(row.total_value)
                }
                if (['10', '20', '30', '40'].indexOf(row.affectation_igv_type_id) > -1) {
                    total_igv += parseFloat(row.total_igv)
                    total += parseFloat(row.total)
                }
                total_value += parseFloat(row.total_value)
                total_plastic_bag_taxes += parseFloat(row.total_plastic_bag_taxes)

                if (['13', '14', '15'].includes(row.affectation_igv_type_id)) {

                    let unit_value = (row.total_value/row.quantity) / (1 + row.percentage_igv / 100)
                    let total_value_partial = unit_value * row.quantity
                    row.total_taxes = row.total_value - total_value_partial
                    row.total_igv = row.total_value - total_value_partial
                    row.total_base_igv = total_value_partial
                    total_value -= row.total_value

                }
            });

            this.document.total_exportation = _.round(total_exportation, 2)
            this.document.total_taxed = _.round(total_taxed, 2)
            this.document.total_exonerated = _.round(total_exonerated, 2)
            this.document.total_unaffected = _.round(total_unaffected, 2)
            this.document.total_free = _.round(total_free, 2)
            this.document.total_igv = _.round(total_igv, 2)
            this.document.total_value = _.round(total_value, 2)
            this.document.total_taxes = _.round(total_igv, 2)
            this.document.total_plastic_bag_taxes = _.round(total_plastic_bag_taxes, 2)
            // this.form.total = _.round(total, 2)
            this.document.total = _.round(total + this.document.total_plastic_bag_taxes, 2)

            if(this.enabled_discount_global)
                this.discountGlobal()

            if(this.prepayment_deduction)
                this.discountGlobalPrepayment()

            if(['1001', '1004'].includes(this.document.operation_type_id))
                this.changeDetractionType()

            //this.setTotalDefaultPayment()
            //this.setPendingAmount()
        },
        validatePaymentDestination() {
            let error_by_item = 0;

            this.document.payments.forEach((item) => {
                if (item.payment_destination_id == null) error_by_item++;
            });

            return {
                error_by_item: error_by_item,
            };
        },
        initForm() {
            this.form_cash_document = {
                document_id: null,
                sale_note_id: null,
            };
        },
        saveCashDocument() {
            this.$http
                .post(`/cash/cash_document`, this.form_cash_document)
                .then((response) => {
                    if (!response.data.success) {
                        this.$message.error(response.data.message);
                    }
                })
                .catch((error) => {
                    this.axiosError(error);
                });
        },
        changeDocumentType() {
            //this.clienteId=null;
            this.series = [];
            if (this.document.document_type_id !== "nv") {
                this.filterSeries();
                this.is_document_type_invoice = true;
            } else {
                this.series = _.filter(this.allSeries, {
                    document_type_id: "80",
                });
                this.document.series_id =
                    this.series.length > 0 ? this.series[0].id : null;

                this.is_document_type_invoice = false;
            }
            this.cleanCustomer();
            this.filterCustomers();
        },
        cleanCustomer(){
            this.document.customer_id = null
            this.clienteId = null;
            this.tempPasajeros = []
        },
        clickAddPayment() {
            const payment = this.document.payments.length == 0 ? this.document.total : 0;
            const paymentDestinationId = this.paymentDestinations.length > 0 ? this.paymentDestinations[0].id : null;

            this.payment = {
                id: null,
                document_id: null,
                date_of_payment: moment().format("YYYY-MM-DD"),
                payment_method_type_id: "01",
                payment_destination_id: paymentDestinationId,
                reference: null,
                payment: payment,
            };
            // this.document.payments.push({
            //     id: null,
            //     document_id: null,
            //     date_of_payment: moment().format("YYYY-MM-DD"),
            //     payment_method_type_id: "01",
            //     payment_destination_id: null,
            //     reference: null,
            //     payment: payment,
            // });
        },
        validateIdentityDocumentType() {
            let identity_document_types = ["0", "1"];
            let pasajeros = this.pasajeros;
            if (
                identity_document_types.includes(pasajeros.identity_document_type_id)
            ) {
                this.document_types = _.filter(this.all_document_types, { id: "03" });
            } else {
                this.document_types = this.all_document_types;
            }

            this.document.document_type_id = this.document_types.length > 0 ? this.document_types[0].id : null;
            this.changeDocumentType();
        },
        viewComprobante(){
            this.showDialogDocumentOptions = true;
        },
        filterSeries() {
            this.document.series_id = null
            this.series = _.filter( this.allSeries, {
                'establishment_id': this.document.establishment_id,
                'document_type_id': this.document.document_type_id,
                'contingency': this.is_contingency});
            this.document.series_id = (this.series.length > 0)?this.series[0].id:null
        },
        filterCustomers() {

            if (['0101', '1001', '1004'].includes(this.document.operation_type_id)) {
                if(this.document.document_type_id === '01') {
                    this.tempClientes = _.filter(this.clientes, {'identity_document_type_id': '6'})
                } else {
                    this.tempClientes = _.filter(this.clientes, (c) => { return c.identity_document_type_id !== '6' })
                }
             this.tempPasajeros = _.filter(this.pasajeros, (c) => { return c.identity_document_type_id !== '6' })
            } else {
                this.tempPasajeros = [...this.pasajeros]
            }
        },
        anularBoleto(){
            this.$confirm(`¿Estás seguro de anular el boleto ?`, 'Atención', {
                confirmButtonText: 'Si, continuar',
                cancelButtonText: 'No, cerrar',
                type: 'warning'
            }).then(() => {

                setTimeout(() => {
                    this.$emit('anularBoleto',this.transportePasaje);
                }, 500);
            });


        },
        async createItem(item){
            try{
                const { data } = await this.$http.post('/items',item);
                return data.id;

            }catch(error){
                return null;
            }
        },


        validate(){
            let valid = true;
            let errors = [];
            if(!this.isCashOpen) {
                valid = false;
                errors.push('La caja no esta abierta');
                // this.$message.info('La caja no esta abierta');
            }
            if(!this.destino){
                valid = false;
                errors.push('Debe seleccionar un destino');
            }
            if(this.isReserva){

                if(!this.nombrePasajero || this.nombrePasajero == ''){
                    valid = false;
                    this.$refs.nombrePasajero.focus();
                    errors.push('Debe poner el nombre del pasajero');
                }
            }


            if(this.document.document_type_id=='01' && !this.pasajeroId){
                valid = false;
                errors.push('Debe seleccionar un pasajero');

            }

            if(!this.programacion) {
                valid = false;
                errors.push('Debe seleccionar una programación');
            }
            if(this.precio){
                    let p = parseFloat(this.precio);
                    if(p <= 0){
                        valid = false;
                        errors.push('El precio debe ser mayor a 0');
                    }
            }

            if(this.tipoVenta == 1){//venta libre

                if(this.destino && !this.horaSalida){
                    valid = false;
                    errors.push('Debe ingresar hora de salida');

                    let element = document.getElementById('hora-salida');
                    element.focus();
                }

                if(!this.precio){
                    valid = false;
                    errors.push('Debe poner un precio');

                    let element = document.getElementById('precio-boleto');
                    element.focus();
                }

                if(!this.clienteId && !this.isReserva){

                    valid = false;
                    errors.push('Debe seleccionar un cliente o pasajero');
                    let element = document.getElementById('cliente');
                    element.focus();
                }

                if(!this.numeroAsiento){
                    valid = false;
                    errors.push('Debe ingresar un asiento');

                    let element = document.getElementById('numero-asiento');
                    element.focus();
                }
            }

            if(this.tipoVenta == 2){//venta con programación

                if(!this.programacion){
                    valid = false;
                    errors.push('Debe seleccionar una programación');
                }

                if(!this.precio){
                    valid = false;
                    errors.push('Debe poner un precio');

                    let element = document.getElementById('precio-boleto');
                    element.focus();
                }
                if(!this.clienteId && !this.isReserva){

                    valid = false;
                    errors.push('Debe seleccionar un cliente o pasajero');
                    let element = document.getElementById('cliente');
                    element.focus();
                }
                if(!this.asiento) {
                    valid = false;
                    errors.push('Debe seleccionar un asiento');
                }
            }

            return {
                fails:!valid,
                errors:errors,
                first:errors.length > 0 ? errors[0] : null,
            }
        },

        onClose(){
            this.$emit('update:visible',false);
            this.$emit('onCancel');
        }


    }
}
</script>
