<template>
    <div>
        <div class="page-header pr-0">
            <h2><a href="#"><i class="fas fa-cogs"></i></a></h2>
            <ol class="breadcrumbs">
                <li class="active"><span>Configuración</span> </li>
                <li><span class="text-muted">Plantilla PDF</span></li>
            </ol>
            <div class="right-wrapper pull-right">
                <button type="button" @click="addSeeder" class="btn btn-custom btn-sm  mt-2 mr-2"><i class="el-icon-refresh"></i> Actualizar listado</button>
            </div>
        </div>
        <div class="card">
            <div class="card-body pb-5">
                <div class="row">
                    <div class="col-3">
                        <label class="control-label">Establecimiento</label>
                        <el-select v-model="form.establishment_id" @change="changeEstablishment()">
                            <el-option v-for="option in establishments" :key="option.id" :value="option.id" :label="option.description"></el-option>
                        </el-select>
                    </div>
                    <div class="col-3">
                        <label class="control-label">Plantilla actual</label>
                        <el-input v-model="form.current_format" readonly></el-input>
                        <small style="cursor:pointer" v-if="form.current_format"><a @click="viewImage(form.current_format)">Ver plantilla</a></small>
                    </div>
                </div>
                <div class="row">
                  <div v-for="(o, index) in formatos" class="col-md-3 my-2">
                    <el-card :body-style="{ padding: '0px' }" :id="o.formats">
                      <a @click="viewImage(o.formats)"><img :src="path.origin+'/templates/pdf/'+o.formats+'/image.png'" class="image" style="width: 100%"></a>
                      <div style="padding: 14px;background:#d4def7;">
                        <span class="text-center">{{o.formats}}</span>
                        <div class="bottom clearfix text-right" v-if="form.establishment_id">
                            <!-- <el-button type="submit" class="button" @change="changeFormat(o.formats)">Activo</el-button> -->
                            <el-radio v-model="form.current_format" :label="o.formats" @change="changeFormat(o.formats)">
                                <span v-if="form.current_format == o.formats">Activo</span>
                                <span v-else>Activar</span>
                            </el-radio>
                        </div>
                        <div v-if="form.current_format == o.formats && form.current_format == 'aqpfact_01'" class="row">
                           <div class="col-md-3">
                               <label class="control-label float-left">
                                   <el-tooltip class="item" effect="dark" content="Color primario de la plantilla." placement="top-start">
                                       <i class="fa fa-info-circle"></i>
                                   </el-tooltip>
                                   <input type="color" id="primary_color" class="field-radio" v-bind:value="form.color1"  @change="changeColor1(o.current_format,$event)">
                               </label>
                           </div>
                            <div class="col-md-3">
                                <label class="control-label float-left">
                                    <el-tooltip class="item" effect="dark" content="Color secundario de la plantilla." placement="top-start">
                                        <i class="fa fa-info-circle"></i>
                                    </el-tooltip>
                                    <input type="color" id="secondary_color" class="field-radio"  v-bind:value="form.color2" @change="changeColor2(o.current_format,$event)">
                                </label>
                            </div>
                            <div class="col-md-6">
                                <label class="control-label float-left">
                                    <el-tooltip class="item" effect="dark" content="Cambiar fondo para cotización. Se recomienda diseñar según el formato por
                                        defecto, o editar en Photoshop o Corel y sinó descargar de www.aqpfact.pe/recursos" placement="top-start">
                                        <i class="fa fa-info-circle"></i>
                                    </el-tooltip>

                                        <el-upload slot="append"
                                                   :headers="headers"
                                                   :data="{'type': 'fondo'}"
                                                   action="/configurations/uploads"
                                                   :show-file-list="false"
                                                   :on-success="successUpload">
                                            <el-button type="primary" icon="el-icon-upload"></el-button>
                                        </el-upload>

                                </label>
                            </div>

                        </div>
                      </div>
                    </el-card>
                  </div>
                </div>
            </div>
        </div>
        <el-dialog
           :visible.sync="modalImage"
           width="60">
            <span>
                <img :src="path.origin+'/templates/pdf/'+template+'/image.png'" class="image" style="width: 100%">
            </span>
            <span slot="footer" class="dialog-footer">
                <el-button @click="modalImage = false">Cerrar</el-button>
                <el-button @click="changeFormat(template)" type="primary" v-if="form.establishment_id">Activar</el-button>
            </span>
        </el-dialog>
    </div>
</template>

<script>

    export default {
        props:['path_image','typeUser','establishments'],

        data() {
            return {
                loading_submit: false,
                headers: headers_token,
                resource: 'configurations',
                errors: {},
                form: {},
                formatos: [],
                path: location,
                modalImage: false,
                template: ''
            }
        },
        async created() {
            await this.$http.get(`/${this.resource}/record`) .then(response => {
                if (response.data !== ''){
                    // console.log(response.data);
                    this.form = response.data.data;
                }
                // console.log(this.placeholder)
            });

            await this.$http.get(`/${this.resource}/getFormats`) .then(response => {
                if (response.data !== '') this.formatos = response.data.filter(r => this.imageGuide(r.formats))
            });

        },
        methods: {
            changeFormat(value){
                this.modalImage = false
                this.form = {
                    formats: value,
                    establishment: this.form.establishment_id,
                }

                this.$http.post(`/${this.resource}/changeFormat`, this.form).then(response =>{
                    this.$message.success(response.data.message);
                    location.reload()
                })

            },
            changeEstablishment(){
                var establishment = this.form.establishment_id;
                var selected = _.filter(this.establishments, {'id':establishment})[0];
                // console.log(selected.template_pdf);
                this.form.current_format = selected.template_pdf;
            },
            addSeeder(){
                var ruta = location.host
                this.$http.get(`/${this.resource}/addSeeder`).then(response =>{
                    this.$message.success(response.data.message);
                    location.reload()
                })
            },
            viewImage($value){
                this.template = $value

                this.modalImage = true
            },
            imageGuide(folder){
                let url = this.path.origin+'/templates/pdf/'+folder+'/image.png'
                // console.log(url)
                var http = new XMLHttpRequest();
                http.open('HEAD', url, false);
                http.send();
                // console.log(http.status)
                return http.status!=404;
            },
            changeColor1(value,e){
                this.modalImage = false
                this.formatos = {
                    formats: value,
                    color1: e.target.value
                }

                this.$http.post(`/${this.resource}/changeColor1`, this.formatos).then(response =>{
                    this.$message.success(response.data.message);
                    //alert('El color primario fué cambiado corréctamente, el sistema necesita recargarse.');
                    //location.reload()
                    //alert('El color primario se cambió correctamente: ' +e.target.value);
                })
                //alert('cambiando color: '+ ' - otro: '+value+ ' color: ' +e.target.value);
            },
            changeColor2(value,e){
                this.modalImage = false
                this.formatos = {
                    formats: value,
                    color2: e.target.value
                }

                this.$http.post(`/${this.resource}/changeColor2`, this.formatos).then(response =>{
                    this.$message.success(response.data.message);
                    //alert('El color secundario fué cambiado corréctamente, el sistema necesita recargarse.');
                    //location.reload()
                    //alert('El color primario se cambió correctamente: ' +e.target.value);
                })
                //alert('cambiando color: '+ ' - otro: '+value+ ' color: ' +e.target.value);
            },
            successUpload(response, file, fileList) {
                if (response.success) {
                    this.$message.success(response.message)
                    this.form[response.type] = response.name
                } else {
                    this.$message({message:'Error al subir el archivo', type: 'error'})
                }
            }
        }
    }
</script>
